body{
  background-color: lightgray;
  }

/* navbar */
.n1{
  background-color: white;
}
.lok:hover{
  border-bottom: 2px solid black;
}

/* modal */
.modal-wrapper{
  /* for hold full widrh */
 position: fixed;
 left: 0px;             
 right: 0px;
 bottom: 0px;
 top: 0px;
  z-index: 2;

  background-color: rgba(189, 189, 189, 0.8);
}
.modal-container{
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  z-index: 3;
}

.tc{
  position: relative;
  z-index: 1;
}
.toc{
  width: 350px;
}